#Las librerias que se van a utilizar este archivo lo usa el Dockerfile de este servicio para saber que va a instalar
fastapi               # Framework para crear APIs web rápidas y modernas en Python
uvicorn               # Servidor ASGI ultrarrápido para correr aplicaciones FastAPI
pydantic[email]       # Validación y manejo de datos con soporte para validación de emails
mysql-connector-python # Conector oficial de MySQL para Python (para conectar con bases MySQL)
pymysql               # Cliente MySQL en Python, alternativo para conexión a bases MySQL
