#Las librerías que utiliza este servicio están especificadas en el archivo `requirements.txt`. Este archivo es utilizado por el `Dockerfile` durante el proceso de construcción del contenedor, para instalar automáticamente todas las dependencias necesarias.
fastapi
uvicorn[standard]
